from settings import *

DEBUG = True

# ===============================================================================
#   Template config
# ===============================================================================
TEMPLATES[0]['OPTIONS']['debug'] = True
TEMPLATES[0]['APP_DIRS'] = True

